.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}
// @media (max-width: 1200px) {
//    .container {
//         max-width: 970px;
//    } 
// }
// @media (max-width: 992px) {
//     .container {
//         max-width: 750px;
//     } 
// }
// @media (max-width: 768px) {
//     .container {
//         max-width: none;
//     }
// }
.row {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
    justify-content: center;
}
.column {
    padding: 0 10px;
}
@media (max-width: 768px) {
    .column {
        flex: 0 1 100%;
        
    }
   
}
@media (min-width: 768px) and (max-width: 992px) {
    .column {
        flex: 0 1 50%;
    }
    
}
@media (min-width: 992px) {
    .column {
        flex: 0 1 33.333%;
    } 
}