.discount {
    position: relative;
    padding: 104px 0px 230px 0px;
}
.discount__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.discount__container {
    position: relative;
    z-index: 10;
    text-align: center;
}
.discount__title {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-transform: uppercase;
}
.discount__pleasure {
    padding: 0px 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.discount__text {
    margin-top: 80px;
}
.discount__points {
    top: 82px;
    left: 50%;
    transform: translateX(-50%)
}
.text__red {
    font-weight: bold;
    color: #E32040;
    padding: 0px 4px;
}
.text__title  {
    display: inline-block;
    align-items: center;
    position: relative;
    line-height: 1.5;
    &::before {
        content: '';
        width: 7px;
        top: 6px;
        height: 7px;
        left: -20px;
        background: #E32040;
        border-radius: 100%;
        position: absolute;
    }
}
.discount__wrapper-btn {
    text-align: right;
    margin-top: 53px;
}
.discount__btn {
    margin-right: 206px;
}
.discount__points span {
    padding: 0 13px;
}
@media (max-width: 975px) {
    .text__title {
        &::before {
            left: 0px;
        }
    }
}
@media (max-width: 767px) {
    .discount__btn {
        margin: 0;
    }
    .discount__wrapper-btn {
        text-align: center;
    }
    .discount {
        padding: 30px 0px 50px 0px;
    }
}
@media (max-width: 360px) {
    .btn-primary .btn-primary__img--padding {
        padding-left: 50px;
    }
}