//====================================================================================================

//====================================================================================================

.header {
    height: 100vh;
    background-color: #000000;
    position: relative;
}
.header__circle {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header__content {
    position: relative;
    padding-top: 26px;
    z-index: 1;
}
.header__top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:$md3+px){
        z-index: 100;
        position: relative;
    }
}
.header__consultation {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 30px;
    &:hover {
        &::before {
            width: 100%;
        }
    }
}
.header__consultation span {
    z-index: 2;
    padding: 0px 10px;
    white-space: nowrap;
}
.header__column-1 {
    padding-left: 94px;
}
.header__info {
    margin-top: 3px;
    padding-left: 43px;
}
.header__telegram {
    padding-left: 13px;
}
.header__tel {
    display: flex;
    align-items: center;
}
.header__icon-tel {
    padding-left: 20px
}
.header__link-info {
    
    transition: 0.3s;
    &:hover {
        color: #E32040;
    }
}
.header__consultation::before {
    content: '';
    width: 30px;
    height: 30px;
    background: #E32040;
    position: absolute;
    border-radius: 30px;
    transition: 0.3s;
}
.header__menu {
    margin: 79px 0px 0px 0px;
    z-index: 10;
    position: relative;
}
.header__btn  {
    margin-top: 21px;
}
.header__basket {
    padding-left: 62px;
    svg path {
        transition: 0.3s;
    }
    position: relative;
    transition: 0.3s;
    &:hover {
        svg {
            transition: 0.3s;
            path {
                fill: #E32040; 
            }
        }
        &::before {
            background: #ffffff;
            color: #E32040;
        }
    }
}
.header__column {
    display: flex;
}
.header__basket::before {
    content: attr(data-quantity);
    width: 15px;
    height: 15px;
    background: #E32040;
    border-radius: 100%;
    font-size: 11px;
    color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -8px;
    transition: 0.3s;
}
.menu__link {
    line-height: 1;
    transition: 0.3s;
    display: inline-block;
    margin: 0px 0px 36px 0px;
}
.menu__link:hover {
    color: #E32040; 
}
.circle__img {
    position: relative;
    text-align: center;
}
.circle__points {
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
}
.points {
    display: flex;
    position: absolute;
}
.points span {
    display: inline-block;
    position: relative;
    width: 5px;
    height: 5px;
    padding: 0 10px;
}
.points span::before {
    content: "";
    width: 5px;
    height: 5px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    border-radius: 100%;
}
.circle__subtitle {
    position: absolute;
    top: 214px;
    left: 50%;
    transform: translateX(-50%);
}
.circle__title {
    position: absolute;
    top: 248px;
    left: 50%;
    transform: translateX(-50%);
    h1 {
        font-weight: bold;
        font-size: 46px;
        line-height: 1;
        white-space: nowrap;
    }
}
.header__icon-present {
    position: absolute;
    bottom: 24px;
    left: 22px;
}
.header__mini-circle {
    position: absolute;
    display: inline-block;
    bottom: 123px;
    left: 139px;
}
.header__line-circle {
    position: absolute;
    bottom: 93px;
    left: 4px;
}
.header__present-title {
    position: absolute;
    left: -311px;
    bottom: 87px;
    span {
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: '';
            width: 7px;
            height: 7px;
            left: -20px;
            background: #E32040;
            border-radius: 100%;
            position: absolute;
        }
    }
}
.header__info {
    span {
        padding-left: 5px;
    }
}
.header__tel {
    span {
        padding: 0px 18px 0px 0px;
    }
}
@media (max-width: 1200px) {
    .header__line-circle {
        display: none;
    }
    .header__present-title {
        left: -191px;
    }
    .header__mini-circle {
        display: none;
    }
    .circle__title h1 {
        font-size: 35px;
    }
}
@media (max-width: 1080px) {
    .header__basket {
        padding: 0px 0px 0px 23px;
    }
    .header__column-1 {
        padding: 0px 10px 0px 50px;
    }
}
@media (max-width: 966px) {
    .header__basket {
        padding: 0px 0px 0px 23px;
    }
    .header__column-1 {
        padding: 0px 10px 0px 0px;
    }
    .header__info {
        span {
            display: none;
        }
    }
    .header__present-title {
        left: 50%;
        transform: translateX(-50%);
        span {
            white-space: nowrap;
        }
    }
    .header__icon-present {
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 800px) {
    .header__info {
        padding-left: 20px;
    }
}
@media (max-width: 767px) {
    .circle__img {

    }
    .circle__title {
        h1 {
            font-size: 20px;
        }
    }
    .header__tel {
        a {
            span {
                display: none;
            }
        }
    }
    .header__menu {
        margin: 0;
    }
    .header__logo {
        top: -4px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__column-1 {
        top: 5px;
        position: absolute;
        right: 50px;
    }
    .header__column-2 {
        top: 0;
        position: absolute;
        right: 0;
    }
    .header__consultation {
        display: inline-flex;
        &::before {
            width: 100%;
        }
    }
    .menu__link  {
        font-size: 20px;
    }
}



.menu__body {
    @media (max-width:$md3+px){
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
        visibility: hidden;
        padding: 120px 0px 20px 0px;
        opacity: 0;
        transition: 0.3s;
        text-align: center;
        &:after {
            content: "";
            background-color: #000000;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 75px;
        }
        &._active {
            opacity: 1;
            visibility: visible;
        }
    }
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
        position: absolute;
        top: 3px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

@media (max-width: 520px) {
    .header__column-1 {
        position: relative;
        justify-content: center;
        margin-top: 30px;
        left: 0;
    }
}

@media (max-width: 767px) {
    .header__circle {
        top: 194%;
    }
    .circle__subtitle {
        top: 159px;
    }
    .circle__title {
        top: 192px;
    }
    .circle__points {
        top: 233px;
    }
    .header__present-title {
        bottom: 40px;
    }
    .header__btn {
        margin-top: 40px;
    }
    .header__icon-present {
        bottom: -21px;
    }
    .circle__img > img {
        width: 372px; 
    }
}